<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Title Here</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="background-container">
        <header>
            <img class="logo" src="https://eldan-arsenal-buk1.s3.amazonaws.com/Arsenal_FC.png" alt="Arsenal Logo">
        </header>
        <div class="main-content">
            <h1>Welcome to Arsenal!</h1>
            <h2>{{user.username}} info:</h2>
            <div class="user-info">
                <h2>Username</h2>
                <p>{{user.username}}</p>
                <h2>Email</h2>
                <p>{{user.email}}</p>
                
        
                
            </div>
        </div>
    </div>
</body>
</html>