<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arsenal fan info</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="background-container">
        <header>
            <img class="logo" src="https://eldan-arsenal-buk1.s3.amazonaws.com/Arsenal_FC.png" alt="Arsenal Logo">
        </header>
        <div class="main-content">
            <h1>Welcome to Arsenal!</h1>
            <h2>Hello {{ username }}!</h2>
            <br>
            <a href="{{ url_for('hello') }}">
                Return home
            </a>
        </div>
    </div>
</body>
</html>